[alias]
	co = checkout
	br = branch
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow
	local = blue
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green
	changed = cyan
	untracked = red
