# Note: this file is intended to extend your regular .gitconfig file.
# Support for includes was added in 1.7.10. To include, add
[alias]
	co = checkout
	br = branch
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow
	local = blue
	remote = green
[color "diff"]
	meta = yellow bold
	frag = white bold
	old = red
	new = green
[color "status"]
	added = green
	changed = yellow
	untracked = red
[push]
	default = simple